.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.cart-logo{
   background: #fff;
   border-radius: 8px;

}
.cart-logo p{
    padding: 10px;
}
.cart-logo img{
    width: 25%;
    height: 20%;
    margin: 4% 8% 0% 8%;
}
.logo{
    display: flex;
    align-items: center;
}

.cart-hight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
.cart-hight p{
    top: 0;
    margin-top: -20px;
    position: relative;
}

.cart-break{
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cart-break button{
    border: none;
    font-size: 20px;
    margin: 5px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.cart-break button:hover{
    background-color: cornflowerblue;
    color: #fff;
}

.cart-time{
    background-color: #fff;
    height: 65px;
    border-radius: 8px;
    text-align: center;
    padding-top: 1px;
    margin: 15px 0;
}

.cart-activity{
    color: #fff;
    width: 100%;
    margin: 20px 0;
    border: none;
    background: #5e5eef;
    border-radius: 8px;
}